*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	background-color: #A890DB;

}

#landing_page{
	height: 90vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


#landing_page div{
	padding: 1rem;
	width: 100%;
}

#landing_page h1{
	font-size: 4rem;
	padding-top: 5rem;
}

#landing_page p{
	font-size: 1.5rem;
}

/*#navbar-logo{
	width: 150px;
	height: 150px;
	border-radius: 150px;
}*/

#navbarNavAltMarkup a{
	margin:0  0.8rem;
}

#profilePic{
	margin-left: 4rem;
	height: 35vh;
	width: 35vh;
}

#add_info {
	vertical-align: top;
}
